@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,600;0,700;1,400&family=Roboto:wght@100;300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    font-family: 'Roboto Mono', monospace;;
}

.gradient{
    background: rgb(2,0,6);
    background: linear-gradient(0deg, rgba(2,0,6,1) 24%, rgba(57,10,170,1) 93%);
}